@import "../../styles/variables";
@import "../../styles/mixins";

.shortcut-item {
  @include flex(column, center, center);

  figure {
    width: 48px;
    img {
      width: 100%;
    }
  }

  p {
    font-size: $fs-regular;
    max-width: 100px;
    margin: 0;
    text-align: center;
  }

  &:hover {
    p {
      color: $p-blue;
    }
  }
}
