@import "../../styles/_variables";
@import "../../styles/_mixins";

.product {
  @include clean-links($p-text);
  font-family: $ff-main;
  display: inline-block;

  .card-wrapper {
    .product-img {
      img {
        width: 100%;
      }
    }

    .product-info {
      width: 100%;
      padding: 16px 20px;
      border-top: 1px solid $product-border;

      .original-price {
        font-size: $fs-sm;
        color: $s-gray;
        text-decoration: line-through;
      }

      .price-discount {
        @include flex(null, null, center);

        .price {
          font-size: $fs-lg;
          font-family: $ff-main-semibold;
          padding-right: 6px;
        }

        .discount {
          @include green-details;
        }
      }

      .free-shipping {
        @include green-details;
      }

      .title {
        font-size: $fs-regular;
        color: $s-gray;
        margin-top: 6px;
      }
    }

    &.regular-card {
      width: 284px;

      .product-img {
        height: 284px;
      }

      .product-info {
        height: 214px;
      }
    }

    &.history-card {
      width: 224px;

      .product-img {
        height: 224px;
      }

      .product-info {
        height: 136px;
      }
    }
  }
}
