@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin container-width {
  max-width: 1200px;
  margin: auto;
}

@mixin clean-links($color) {
  text-decoration: none;
  color: $color;

  &:visited {
    color: $color;
  }
}

@mixin clean-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin green-details {
  color: $p-green;
  font-size: $fs-regular;
}

@mixin btn-delete {
  color: $p-blue;
  cursor: pointer;

  &:hover {
    color: $s-blue;
  }
}
