@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin container-width {
  max-width: 1200px;
  margin: auto;
}

@mixin clean-links($color) {
  text-decoration: none;
  color: $color;

  &:visited {
    color: $color;
  }
}

@mixin clean-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin green-details {
  color: $p-green;
  font-size: $fs-regular;
}

@mixin products {
  @include clean-list;
  @include flex(null, flex-start, null);
  flex-wrap: wrap;

  li {
    width: 284px;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 8px 16px;
  }
}
