// COLORS
$p-yellow: #fff159;
$p-text: #333;
$p-blue: #3483fa;
$p-gray: #e7e7e7;
$p-green: #00a650;
$s-gray: #999;
$product-border: #f5f5f5;

// FONTS
$ff-main: "proximanova-regular";
$ff-main-light: "proximanova-light";
$ff-main-semibold: "proximanova-semibold";

// FONT SIZES
$fs-title: 28px;
$fs-lg: 24px;
$fs-subtitle: 16px;
$fs-regular: 14px;
$fs-sm: 12px;
