@import "../../styles/variables";
@import "../../styles/mixins";

.history-container {
  @include container-width;
  font-family: $ff-main;
  color: $s-gray;

  .history-title {
    @include flex(null, null, baseline);
    margin: 48px 0;

    h2 {
      font-size: $fs-title;
      font-family: $ff-main-light;
      margin-right: 16px;
    }

    p {
      @include btn-delete;
    }
  }

  .history-products {
    p {
      font-size: $fs-subtitle;
      margin: 6px;
    }
  }

  .no-history {
    width: 500px;
    margin: 160px auto;
    text-align: center;

    h2 {
      font-size: $fs-title;
      font-weight: normal;
      font-family: $ff-main-light;
      margin-bottom: 16px;
    }

    p {
      font-size: 20px;
    }
  }
}
