@import "../../styles//variables";
@import "../../styles//mixins";

.products-container {
  @include clean-list;
  @include flex(null, flex-start, null);
  flex-wrap: wrap;

  li {
    border-radius: 4px;
    overflow: hidden;
    margin: 0 8px 16px;
    transition: box-shadow 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.07),
        0 10px 15px 0 rgba(0, 0, 0, 0.1);
    }

    &.history-list {
      height: 390px;
    }
  }
}
