@import "../../styles/_variables";
@import "../../styles/_mixins";

.footer-container {
  height: 90px;
  padding: 16px 10px;
  background-color: #fff;
  font-size: $fs-subtitle;
  text-align: center;

  p i {
    vertical-align: middle;
  }

  .footer-links {
    a {
      @include clean-links($p-text);
      font-size: $fs-lg;
      margin-right: 10px;
    }
  }
}
